body {
    background: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    color: #4a4a4a;
}

h1, h2, h3, h4, h5, h6 {
    color: #666;
}

h1 a strong, h2 a strong, h3 a strong, h4 a strong, h5 a strong, h6 a strong {
    color: #333;
}
    h2.alt {
        color: #4a4a4a;
    }

    h2.alt strong {
        color: #666;
    }

strong, b {
    color: #666;
}

em, i {
    font-style: italic;
}